@charset "UTF-8";


@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor1: rgb(72, 72, 236);
    --cor2: blue;
}

body{
    background-color: var(--cor1);
}

main h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

form{
    margin: 50px auto ;
    background-color: rgb(185, 207, 244);
    padding: 20px;
    width: 90%;
    max-width: 500px;
    border-radius: 18px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.162);
}

form input{
    margin: 20px;
    padding: 6px;
    color: black;
}

form div{
   position: relative;

}

form div a, form div input{
    text-decoration: none;
    background-color: rgb(64, 119, 167);
    color: white;
    border-radius: 10px;
    
}

#entrar{
    position: absolute;
    right: 10px;
}
