@charset "UTF-8";

#botao-voltar{
    background-color: #486eec;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 80px;
    font: normal 1em Arial;
    text-align: center;
}
#botao-voltar a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}




body {
    font-family: 'Segoe UI', sans-serif;
    background: #f9f9f9;
    background-size: cover;
    color: #333;
    margin: 0;
    padding: 20px;

    transition-duration: 2s;
}


.container {
    max-width: 1000px;
    margin: auto;
}

h1 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 40px;
}

.nivel {
    background-color: #ffffff;
    border-left: 6px solid #5872cf;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.nivel h2 {
    margin-top: 0;
    color: #2c3e50;
}

.secao {
    margin-bottom: 20px;
}

.secao h3 {
    color: #2980b9;
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li::before {
    content: "+";
    margin-right: 10px;
    color: #ddaa1d;
}

.emoji {
    margin-right: 5px;
}

hr {
    border: none;
    border-top: 2px dashed #ccc;
    margin: 40px 0;
}

.conteiner-video{
    background-color: rgb(75, 134, 236);
    margin: 0px -20px;
    padding: 100px 0px;
    border-radius: 0px 20px 20px 0px;
}
.conteiner-video h2{
    text-align: center;
    font: bold 2.5em Arial;
    color: white;
}
iframe{
    display: block;
    padding: 10px;
    margin: auto ;
    background-color: rgb(255, 191, 73);
}