@charset "UTF-8";

main > h1{
    margin: 40px 0px;
}
aside{
    margin: 30px 40px;
    padding: 6em 20px 8em 20px;
}
aside h3{
    margin: 20px 0px;
    font: bold 2.5em Arial;
}
aside p{
    font: normal 1.2em Arial;
    line-height: 40px;
    
}


main > p{
    background-color: var(--cor1);
    padding: 100px 40px 0px 40px;
    height: 80vh;

    font: bold 5vh helvetica;
    color: white;
    text-shadow: 1px 1px 1px black;
    line-height: 7vw;
}
ul{
    margin-top: 40px;
    background-color: rgb(223, 223, 224);
    padding: 40px;
    font: 500 1em Helvetica;
}
ul > li{
    line-height: 35px;
}