<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Editar login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
</head>
<body>
    <h1>Editar login</h1>
    <form method="POST">
        Nome: <input type="text" name="nome" value="{{ produto.nome }}" required><br>
        Email: <input type="email" name="email" value="{{ produto.email }}" required><br>
        Senha: <input type="password" name="senha" value="{{ produto.senha }}" required><br>
        <button class="botao">Salvar</button>
        <a href="/" class="botao">Voltar</a>

    </form>
</body>
</html>
