<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}"> 
</head>
<body>
    <h1>Login</h1>

    <form action="/novo" method="POST">
        Nome: <input type="text" name="nome" required><br>
        Email: <input type="email" name="email" required><br>
        Senha: <input type="password" name="senha"><br>

        <button type="submit" class="butao">Cadastrar</button>

        <p id="botao-voltar">
            <a href="https://guilhermealbertosf.github.io/projeto-ens">voltar</a>
        </p>
    </form>

    <h2>Meu login</h2>
    <ul>
        {% for produto in produtos %}
            <li>
                 Nome : {{produto.nome}} <br>
                 Email :{{produto.email}} <br>
                 Senha : {{produto.senha}} <br>
                <a href="/editar/{{ produto.id }}">Editar</a>
                <a href="/deletar/{{ produto.id }}">Excluir</a>
            
           
            
            </li>
        
        {% endfor %}
    </ul>

    

</body>
</html>
