
body {
    background-color: #eee;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}


h1 {
    margin-top: 40px;
    font-size: 28px;
    font-weight: bold;
   
}

.butao{

     background-color: #003366;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 2px 2px 0px black;
  text-decoration: none;
  display: inline-block;
  
}

.butao:hover{
    background-color: #0055aa;

}

a{
  background-color: #003366;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 2px 2px 0px black;
  text-decoration: none;
  display: inline-block;



}

a:hover{
    background-color: #0055aa;

}

form{
    background-color:#cfe2ff;
    width: 400px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
}


form > input{
    width: 90%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 1px;
    border: 1px solid 
}

ul {
    background-color: #cfe2ff;
    width: 400px;
    margin: 30px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    text-align: left;
}



